.cards {
  font-size: 0;
  width: calc(200% / 3 - 20px);
  text-align: center;
}

.card {
  padding: 30px;
  margin: 30px;
  background: #e0e0e0;
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  width: 200px;
  border-radius: 10px;
}

h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  text-align: center;
}

p {
  color: #000;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

img {
  width: 130px;
  height: 130px;
}
